<div class="my-container">
    <div class="recette">
        <mat-card appearance="outlined">
            <mat-card-content class="card-recette">
                <div class="card-recette-top">
                    Commande en cours
                    <div *ngFor="let recette of recetteCommande">
                        <app-recette-component>
                        </app-recette-component>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

  

