.mat-button-detail-container{
    text-align: center;
}

.mat-button-detail-container .mat-button-detail {
    color: blue;
    border: 1px solid blue;
    margin-top: 20px;
}

.example-card{
    margin-bottom: 15px;
}
